.score-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.game-area {
  position: relative;
  margin: 10px auto 10px auto;
  width: 600px;
  min-height: 400px;
  border: 2px solid black;
  background-color: #fff;
}

.snake-dot {
  position: absolute;
  width: 2%;
  min-height: 3%;
  background-color: #333333;
  border: 1px solid #ffffff;
  z-index: 2;
}

.snake-food {
  position: absolute;
  width: 2%;
  height: 3%;
  background-color: red;
  border: 1px solid #ffffff;
  z-index: 1;
}